.poke-card {
    border: none !important;
    background-color: transparent !important;
    color: #fff !important;
    cursor: pointer;
}

.poke-card:hover {
    border: 1px, solid white !important;
}